@import 'tailwindcss';
@import 'uniwind';

@import 'heroui-native/styles';
@source '../node_modules/heroui-native/lib';
@import '../../web/src/globals.css';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-surface: var(--card);
  --color-surface-foreground: var(--card-foreground);

  --color-surface-secondary: var(--secondary);
  --color-surface-secondary-foreground: var(--secondary-foreground);

  --color-surface-tertiary: var(--secondary);
  --color-surface-tertiary-foreground: var(--secondary-foreground);

  --color-overlay: var(--popover);
  --color-overlay-foreground: var(--popover-foreground);

  --color-muted: var(--muted-foreground);

  --color-default: var(--secondary);
  --color-default-foreground: var(--secondary-foreground);

  --color-accent: var(--primary);
  --color-accent-foreground: var(--primary-foreground);

  --color-field-background: var(--input);
  --color-field-foreground: var(--foreground);
  --color-field-placeholder: var(--muted-foreground);
  --color-field-border: var(--border);

  /* --color-success: oklch(73.29% 0.1935 152.45); */
  /* --color-success-foreground: oklch(21.03% 0.0059 152.45); */
  /**/
  /* --color-warning: oklch(78.19% 0.1585 73.97); */
  /* --color-warning-foreground: oklch(21.03% 0.0059 73.97); */

  /* --color-danger: var(--destructive); */
  /* --color-danger-foreground: oklch(99.11% 0 0); */

  --color-segment: var(--card);
  --color-segment-foreground: var(--card-foreground);

  --color-border: var(--border);
  --color-separator: var(--border);
  --color-focus: var(--ring);
  --color-link: var(--primary);

  --surface-shadow: var(--shadow-md);
  --overlay-shadow: var(--shadow-md);
  --field-shadow: var(--shadow-sm);
}

@layer theme {
  :root {
    --radius: 0.25rem;
  }
}
